[Desktop Entry]
Version=1.0
Name=Modelsim
Comment=Modelsim simulation software
Exec=modelsim
Icon=_alteradir/quartus/adm/quartusii.png
Terminal=false
Type=Application
Categories=Development
